
<h2>Liste des agents</h2>
<table>
    <thead>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Téléphone</th>
        <th>Fin de formation théorique</th>
        <th>Statut de l'agent</th>
        <th>Date fin dernière formation continue</th>
        <th>Jours restants</th>
        <th>Formation continue</th>
        <th>Maintien de compétences</th>
    </thead>
    <tbody>
        {%for agent in listeAgents%}
        <tr>
            <td>{{agent.nom_agent}}</td>
            <td>{{agent.prenom_agent}}</td>
            <td>{{agent.date_naissance_agent}}</td>
            <td>{{agent.tel_agent}}</td>
            <td>{{agent.fin_formation_theorique_agent}}</td>
            <td>{{agent.statut_agent }}</td>
            <td>{{agent.derniere_formation}}</td>
            <td>{{agent.jours_ecart}}</td>
            <td>{{agent.couleur}}</td>
            <td>{{agent.couleurM}}</td>



        </tr>
        {%endfor%}
    </tbody>
</table>

<h2>Ajout d'un agent à la base de données</h2>
<form method="POST" action="/add_agent">
    <div>
        <div>
            <div>
                <label>Prénom</label>
            </div>
            <div>
                <input type="text" id="prenom" name="prenom"
                    placeholder="Prénom">
            </div>
            <div>
                <label>Nom</label>
            </div>
            <div>
                <input type="text" id="nom" name="nom"
                    placeholder="Nom">
            </div>
            <div>
                <label>Date de naissance</label>
            </div>
            <div>
                <input type="date" id="date_naissance" name="date_naissance">
            </div>
            <div>
                <label>Date de fin de formation théorique</label>
            </div>
            <div>
                <input type="date" id="date_fin_formation" name="date_fin_formation">
            </div>
            <label>Numéro de téléphone</label>
        </div>
        <div>
            <input type="text" id="tel" name="tel"
                placeholder="Numéro de téléphone">
        </div>
        <p></p>
            <div>
                <button type="submit">Ajouter un agent</button>
                <button type="reset">Réinitialiser</button>
            </div>

        </div>
    </div>
</form>

<h2>Liste des actions de maintien et actualisation de compétences, conformément à la réglementation</h2>
{%for action in listeMAC%}
<p>{{action.titre_maintien_competences}}</p>
{%endfor%}

<h2>Ajout d'une formation "Maintien et actualisation des compétences"</h2>

<form method="POST" action="/add_formation_MAC">
<div>
    <label>Agent concerné</label>
</div>
<div>
    <select name="id_agent" required>
        {%for agent in listeAgents%}
        <option value="{{agent.id_agents}}">{{agent.nom_agent}} {{agent.prenom_agent}}</option>
        {%endfor%}
    </select>
</div>
<div>
    <label>Formation concernée</label>
</div>
<div>
    <select name="id_maintien_competences" required>
        {%for action in listeMAC%}
        <option value="{{action.id_maintien_competences}}">{{action.titre_maintien_competences}}</option>
        {%endfor%}
    </select>
</div>
<label>Date de fin de l'action</label>
<div>
    <input type="date" name="date_participation_agent">
</div>
<div>
    <button type="submit">Ajouter une formation</button>
    <button type="reset">Réinitialiser</button>
</div>
</form>



