{% if errorDB %}
<div class="alert alert-danger text-center">
<h5 class="text-danger">Problème BDD</h5>
{{ errorDB }}
</div>
{% endif %}
{% if successDB %}
<div class="alert alert-warning text-center">
<h5>Succès BDD</h5>
{{ successDB }}
</div>
{% endif %}

{% if infoRouge %}
<div class="alert alert-danger text-center">
{{ infoRouge }}
</div>
{% endif %}
{% if infoVert %}
<div class="alert alert-success text-center">
{{ infoVert }}
</div>
{% endif %}
{% if infoBleu %}
<div class="alert alert-primary text-center">
{{ infoBleu }}
</div>
{% endif %}