    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>

<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.29.0/tableExport.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.29.0/libs/jsPDF/jspdf.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/extensions/export/bootstrap-table-export.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <script>
        const $ =jQuery.noConflict()
        $(function (){
            $.fn.editable.defaults.mode = 'inline'
            $.fn.editableform.buttons =
            '<button type="submit" class="btn btn-primary editable-submit">' +
                '<i class="fa fa-check"></i>' +  // Icône validation
            '</button>' +
            '<button type="button" class="btn btn-secondary editable-cancel">' +
                '<i class="fa fa-times"></i>' +  // Icône annulation
            '</button>';
            $(".modif").editable()
            $('.modifStatut').editable({
                type:'select',
                source:[
                {value:'Actif',text:'Actif'},
                {value:'Inactif',text:'Inactif'}]
            })
        })
    </script>
    
    
    
    <script type="text/javascript">
        function generate_livret() {
        var doc = new jsPDF();
         
        doc.autoTable({  
            html: '#liste_formations',  
            startY: 25,  
            theme: 'grid',  
            
        })  
        doc.save('livret_formation_suivi.pdf');
        }
      </script>